# ignore built jars
target/

# logs
*.log

# Ensime specific
.ensime
.ensime_cache/
.ensime_lucene/

# IntelliJ IDEA
.idea/

# bye built files
*.jar
*.zip

#
scalajs/dist/*.js*

#
node_modules
azurejs/dist/**/*.js*

# Metals
.metals/
.bloop/
project/metals.sbt
